<h1><%= @user.username.upcase %>'s recent Photos</h1>

<div class="main">
    <% for @media_item in @client.user_recent_media %>
      <img src='<%= @media_item.images.thumbnail.url %>'>
    <ul>
<!--       <li><a href='/media_like/<%= @media_item.id %>'>Like</a></li>
      <li><a href='/media_unlike/<%= @media_item.id %>' >Un-Like</a></li> -->
      <li>LikesCount: <%= @media_item.likes[:count] %></li>
    </ul>
    <% end %>
</div>

